form{
    display: flex;
    width: 500px;
    height: 150px;
    

}
label{
    font-size: 14px;
    margin-left: 3px;
}
.search{
    width: 70px;
    height: 30px;
    transform: translate(50%,20px);
}
input{
    width: 300px;
    height: 30px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid gray;
    padding-left: 5px;
    margin: 3px 0px 0px 0px;
}